 <tr *ngFor="let profile of user ">
              
  <td>
    <mat-card>
      

      
      <mat-card-content>
         <p>  <b>Id </b>{{profile.id}}<br>
            <b>NAME </b> {{profile.name}}<br>
            <b> DESCRIPTION- </b>{{profile.description}}<br>
            <b> COMPANY - </b>{{profile.company}} &nbsp; &nbsp; <b>DOMAIN </b>{{profile.domain}}
            <b> SKILLSET - </b>{{profile.skillset}}
          </p>
          <button mat-raised-button color="primary" (click)="edit()">Edit</button>
      </mat-card-content></mat-card>
      </td>
    </tr>
  