<p>
  profile works!
</p>
<form [formGroup]="sortForm" >
  <span class="total">{{postlist.length}} Results</span>

  <div class="sort"><span>SORT BY</span> &nbsp;
    <span (click)="ratingFiter()"><mat-icon>swap_vertical</mat-icon>Ratings Only</span>&nbsp;
    <span (click)="priceFilter()"><mat-icon>swap_vertical</mat-icon>Price Only</span>
    </div>
    <div class="clear"></div>


<br>
<div fxLayout="row wrap" fxLayoutGap="10px">
  <div *ngFor="let post of postlist" class="item">
    <app-searchdata-item fxFlex fxLayout="row" [postlInstance]="post"></app-searchdata-item>
  </div>
  <mat-divider></mat-divider>
</div>

</form>
<mat-divider></mat-divider> 
<br>
<div fxLayout="row wrap" fxLayout="15px">
  <app-search-job ></app-search-job>
  <mat-divider></mat-divider> 

</div>