
  <div>
  <span>{{postInstance.jobid}} </span> <br>
  <span>{{postInstance.jobTitle}} </span> <br>
  <span>{{postInstance.company}} </span> <br>
  <span>{{postInstance.skillset}} </span> <br>
  <span>{{postInstance.minsalary}} </span> ---   <span>{{postInstance.maxsalary}} </span> <br>
  <span>{{postInstance.Recruiter}} </span> <br>
  <span>{{postInstance.experience}} </span> <br>
  <span>{{postInstance.location}} </span> <br>
   <div>
    <button mat-raised-button class="viewbtn">View Details</button>&nbsp;&nbsp;
    <button mat-raised-button color="primary">Apply</button>
    </div>
  
